<div class="my-card">
    <div class="card-header">
        <img src="{{image}}" />
    </div>
    <div class="card-body">
        <span class="tag">Top Speed: {{topSpeed}} kmph</span>
        <h4>
            {{model}}
        </h4>
        <div class="user">
            <div class="user-info">
                <h5>Manufacturer: {{manufacturer}}</h5>
                <small>Engine: {{engine}}</small>
                <a href="/catalog/{{_id}}" class="details_btn">Details</a>
            </div>
        </div>
    </div>
</div>