<div class="car-card car-card-info">
    <div class="front">
        <img src="{{image}}" alt="Bugatti Chiron Super Sport 300+">
    </div>
    <div class="back">
        <h1>{{model}}</h1>
        <h2>Top Speed: {{topSpeed}} kmph</h2>
        <p>Description: {{description}}</p>
        <a href="/catalog/{{_id}}" class="details">Details</a>
    </div>
</div>